<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GracefulDB Manager</title>

  <!-- Favicon -->
  <link href="./ui/static/img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
  
  <!-- Icon Font Stylesheet -->
  <link href="./ui/static/css/fontawesome/css/all.min.css" rel="stylesheet">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"> -->

  <!--Stylesheet -->
  <link rel="stylesheet" href="./ui/static/css/bg.css">
  <link rel="stylesheet" href="./ui/static/css/dash.css">
  
  <!-- <script src="./ui/static/js/jquery-3.7.1.min.js"></script> -->
  <script src="./ui/static/js/htmx.min.js"></script>
  <!-- <script src="./ui/static/js/class-tools.js"></script> -->
</head>

<body>
  <main class="background">
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
    <div class="row">
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
      <div class="hexagon"></div>
    </div>
  </main>

  <section class="main">
    <div class="navbar">
      <a href="/" class="navbar-brand">
            <img class="logoimg" src="./ui/static/img/logo.svg">
            <div class="logotext">
              GracefulDB
            </div>
            <div class="tagline">Fast, Simple and Secure</div>
      </a>

      <div class="navbar-nav">
        <a hx-get="/hx/nav/dashboard" hx-target="#idMainUnit" class="nav-item"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
        <a hx-get="/hx/nav/databases" hx-target="#idMainUnit" class="nav-item"><i class="fa fa-database"></i>Databases</a>
        <a hx-get="/hx/nav/console" hx-target="#idMainUnit" class="nav-item"><i class="fa fa-terminal"></i>Console</a>
        <a hx-get="/hx/nav/accounts" hx-target="#idMainUnit" class="nav-item"><i class="fa fa-users"></i>Accounts</a>
        <a hx-get="/hx/nav/settings" hx-target="#idMainUnit" class="nav-item"><i class="fa fa-cogs"></i>Settings</a>
      </div>
      
      <div class="sticky-foot">
        &copy; <a href="http://www.gracefuldb.dev/" target="_blank">GracefulDB Site</a>.
      </div>
    </div>
  </section>

  <section class="user-menu">
    <div class="user-name"><i class="fa fa-user" title="{{.Roles}}"></i> {{.Login}}</div>
    <div class="content-user-menu">
      <a href="#" id="uBtnYourProfile"><i class="fa fa-user-cog"></i> Your profile</a>
      <a href="#" id="uBtnLogOut"><i class="fa fa-sign-out-alt"></i> Log Out</a>
    </div>
  </section>

  <div id="idMainUnit">
    <div class="hat">
      <div class="header">Dashboard</div>
      <div class="deschead"></div>
    </div>
    
  </div>

  <!-- Modal Profile -->
  <div class="modal hidden" id="profileModal">
    <div class="modal-dialog">
      <div class="modal-content" id="profileModalSpace">
        <div class="modal-header">
          <h1 class="modal-title" id="profileModalLabel">Your profile</h1>
          <button type="button" class="btn-close" id="profileModalBtnClose"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body modal-left">
          <form id="profile-user-form" hx-post="/hx/accounts/selfedit_ok" hx-target="#profileModalSpace" hx-trigger="submit">
            <div class="modal-form-line">
              <label for="login-input" class="col-form-label">Login:</label>
              <input type="hidden" class="form-control" name="login" id="login-input" value="" disabled>
            </div>
            <div class="modal-form-line">
              <label for="password-input" class="col-form-label">Password:</label>
              <input type="password" class="form-control" name="password" id="password-input">
            </div>
            <div class="modal-form-line">
              <label for="desc-input" class="col-form-label">Description:</label>
              <input type="text" class="form-control" name="desc" id="desc-input">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" id="profileModalCancel">Cancel</button>
          <button type="submit" form="profile-user-form" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Logout -->
  <div class="modal hidden" id="logoutModal">
    <div class="modal-dialog modal-logout">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="logoutModalLabel">Log Out</h1>
          <button type="button" class="btn-close" id="logoutModalBtnClose"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body modal-center">
          Are you sure you wish to log out?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="logoutModalCancel">No, I'll be back.</button>
          <button type="button" class="btn btn-primary" hx-get="/hx/nav/logout">Yes, but I'm going to miss you.</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modals Accounts -->
  <div class="modal hidden" id="createModal">
    <div class="modal-dialog">
      <div class="modal-content" id="createModalSpace">
        <div class="modal-header">
          <h1 class="modal-title" id="createModalLabel">Create user</h1>
          <button type="button" class="btn-close"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body modal-left">
          <form id="create-user-form" hx-post="/hx/accounts/create_ok" hx-target="#createModalSpace" hx-trigger="submit">
            <div class="modal-form-line">
              <label for="login-input" class="col-form-label">Login:</label>
              <input type="text" class="form-control" name="login" id="login-input">
            </div>
            <div class="modal-form-line">
              <label for="password-input" class="col-form-label">Password:</label>
              <input type="password" class="form-control" name="password" id="password-input">
            </div>
            <div class="modal-form-line">
              <label for="desc-input" class="col-form-label">Description:</label>
              <input type="text" class="form-control" name="desc" id="desc-input">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel">Cancel</button>
          <button type="submit" form="create-user-form" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal hidden" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content" id="editModalSpace">
        <div class="modal-header">
          <h1 class="modal-title" id="editModalLabel">Edit user</h1>
          <button type="button" class="btn-close"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body modal-left">
          <form id="edit-user-form" hx-post="/hx/accounts/edit_ok" hx-target="#editModalSpace" hx-trigger="submit">
            <div class="modal-form-line">
              <label for="login-input" class="col-form-label">Login:</label> <b>{{.Login}}</b>
              <input type="hidden" class="form-control" name="login" id="login-input" value="{{.Login}}" disabled>
            </div>
            <div class="modal-form-line">
              <label for="password-input" class="col-form-label">New password:</label>
              <input type="password" class="form-control" name="password" id="password-input" placeholder="password" value="">
            </div>
            <div class="modal-form-line">
              <label for="desc-input" class="col-form-label">Description:</label>
              <input type="text" class="form-control" name="desc" id="desc-input" placeholder="description" value="">
            </div>
            <div class="modal-form-line">
              <label for="status-select" class="col-form-label">Status:</label> UNDEFINED (You must select the status)
              <select class="form-select" id="status-select" name="status">
                <option value="1" selected>NEW</option>
                <option value="2">ACTIVE</option>
                <option value="3">BANED</option>
              </select>
            </div>
            <div class="modal-form-line">
              Roles:<br>
              <div class="modal-form-line">
                <input class="form-check-input" type="checkbox" name="role_names" value="SYSTEM" id="checkEdit0" checked disabled>
                <label class="col-form-label" for="checkEdit0"> SYSTEM</label>
              </div>
              <div class="modal-form-line">
                <input class="form-check-input" type="checkbox" name="role_names" value="ADMIN" id="checkEdit1" checked>
                <label class="col-form-label" for="checkEdit1"> ADMIN</label>
              </div>
              <div class="modal-form-line">
                <input class="form-check-input" type="checkbox" name="role_names" value="MANAGER" id="checkEdit2" checked>
                <label class="col-form-label" for="checkEdit2"> MANAGER</label>
              </div>
              <div class="modal-form-line">
                <input class="form-check-input" type="checkbox" name="role_names" value="ENGINEER" id="checkEdit3" checked>
                <label class="col-form-label" for="checkEdit3"> ENGINEER</label>
              </div>
              <div class="modal-form-line">
                <input class="form-check-input" type="checkbox" name="role_names" value="USER" id="checkEdit4" checked>
                <label class="col-form-label" for="checkEdit4"> USER</label>
              </div>
            </div>
            You cannot change the permissions of this user.
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel">Cancel</button>
          <button type="submit" form="edit-user-form" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal hidden" id="banModal">
    <div class="modal-dialog">
      <div class="modal-content" id="banModalSpace">
        <div class="modal-header">
          <h1 class="modal-title" id="banModalLabel">Ban user</h1>
          <button type="button" class="btn-close"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body modal-center">
          <form id="ban-user-form" hx-post="/hx/accounts/ban_ok" hx-target="#banModalSpace" hx-trigger="submit">
            <div class="modal-form-line">
              <label for="login-input" class="col-form-label">Login:</label>
              <input type="hidden" class="form-control" name="login" id="login-input" value="{{.Login}}">
            </div>
          </form>
          Block the <b>{{.Login}}</b> user?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel">Cancel</button>
          <button type="submit" form="ban-user-form" class="btn btn-primary">Block</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal hidden" id="unbanModal">
    <div class="modal-dialog">
      <div class="modal-content" id="unbanModalSpace">
        <div class="modal-header">
          <h1 class="modal-title" id="unbanModalLabel">UnBlock user</h1>
          <button type="button" class="btn-close" id="unbanModalBtnClose"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body modal-center">
          <form id="unban-user-form" hx-post="/hx/accounts/unban_ok" hx-target="#unbanModalSpace" hx-trigger="submit">
            <div class="modal-form-line">
              <input type="hidden" class="form-control" name="login" id="login-input" value="{{.Login}}">
            </div>
          </form>
          UnBlock the <b>{{.Login}}</b> user?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" id="unbanModalCancel">Cancel</button>
          <button type="submit" form="unban-user-form" class="btn btn-primary">UnBlock</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal hidden" id="delModal">
    <div class="modal-dialog">
      <div class="modal-content" id="delModalSpace">
        <div class="modal-header">
          <h1 class="modal-title" id="delModalLabel">Delete user</h1>
          <button type="button" class="btn-close" id="delModalBtnClose"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body modal-center">
          <form id="del-user-form" hx-post="/hx/accounts/del_ok" hx-target="#delModalSpace" hx-trigger="submit">
            <div class="modal-form-line">
              <label for="login-input" class="col-form-label">Login:</label>
              <input type="hidden" class="form-control" name="login" id="login-input" value="{{.Login}}">
            </div>
          </form>
          Delete the {{.Login}} user?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" id="delModalCancel">Cancel</button>
          <button type="submit" form="del-user-form" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div id="cursor"></div>
  <script src="./ui/static/js/dashboard.js"></script>
</body>

</html>